* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-transform: capitalize;
}
body {
  background: linear-gradient(91deg, #000000 0%, #002ca7 100%);
}
h2.title {
  font-size: 4rem;
  font-weight: bold;
  color: rgb(224, 224, 224);
  text-shadow: 3px 3px 6px rgb(45, 143, 255);
}
.status-caider {
  color: rgb(224, 224, 224);
}
.info1 {
  background-color: #3679ff;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
}
.info2 {
  border: 1px solid white;
  border-radius: 7px;
  margin-top: 10px;
}
.btn-main {
  display: flex;
  justify-content: center;
  background-color: rgb(75, 75, 75);
  padding: 20px;
  border-radius: 5px;
  border: #fff 1px solid;
}
.display-left {
  background-color: rgb(26, 26, 26);
  color: #fff;
}
.display-right {
  background-color: rgb(26, 26, 26);
  color: #fff;
}
main .btn-connect button {
  width: 100%;
  border-radius: 10px;
  padding: 10px 30px;
  transition-duration: 0.3s;
  border: none;
}
main .btn-connect button:hover {
  background-color: rgb(0, 136, 190);
  color: #fff;
  cursor: pointer;
}
/* dropdown menu */
.gear-dropdown {
  position: relative;
  display: inline-block;
}

.gear-btn {
  border: none;
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  cursor: pointer;
}

/* menu ẩn */
.gear-menu {
  position: absolute;
  right: 0;
  top: 100%;
  background: white;
  min-width: 150px;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 1000;
}

/* hover vào cả icon + menu */
.gear-dropdown:hover .gear-menu {
  display: block;
}

.gear-menu button {
  width: 100%;
  padding: 8px 12px;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

.gear-menu button:hover {
  background-color: #f0f0f0;
  border-radius: 6px;
}
.list-box {
  padding: 10px;
  background-color: #080808ff;
  border-radius: 5px;
  border: 1px solid #f0f0f0;
}

button {
  cursor: pointer;
  border: none;
  font-weight: 600;
  border-radius: 12px;
  padding: 10px 18px;
  transition: all 0.2s ease-in-out;
  margin-right: 8px;
}

/* nút chính */
.btn-primary {
  background: linear-gradient(135deg, #2563eb, #1d4ed8);
  color: #fff;
  box-shadow: 0 4px 12px rgba(37, 99, 235, 0.35);
}

.btn-primary:hover {
  transform: translateY(-1px) scale(1.01);
  box-shadow: 0 6px 18px rgba(37, 99, 235, 0.45);
}

.btn-primary:active {
  transform: translateY(0);
  box-shadow: none;
}

/* nút phụ */
.btn-secondary {
  background: #f3f4f6;
  color: #111827;
  border: 1px solid #3a3a3a;
}

.btn-secondary:hover {
  background: #6d90d6;
}

.btn-secondary:active {
  background: #d1d5db;
}
