hr {
  background-color: #f2f2f2;
  border: none;
  height: 1.5px;
  margin: 20px 0;
}
.info-micro,
.info-expansive,
.info-servo,
.info-motor {
  background: linear-gradient(135deg, #00628f, #26c6da);
  border-radius: 10px;
  padding: 10px;
  color: white;
  /* text-align: center; */

  box-shadow: 5px 4px 8px 2px rgba(0, 0, 0, 0.2);
  margin: 10px;
  width: 202px;
  font-weight: bold;
  font-size: 0.9rem;
}
